# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.vscode/
.env

# Database
icfa.db
*.sqlite3

# Project Specific
uploads/*
!uploads/.gitkeep
!uploads/temp/
uploads/temp/*
!uploads/temp/.gitkeep
data/*.csv 
.pytest_cache/
.streamlit/
*.pkl
uploads/*.json
