bcrypt
fastapi
joblib
matplotlib
nltk
pandas
passlib
pydantic
python-dotenv
python-jose
python-multipart
requests
scikit-learn
streamlit
torch
transformers
uvicorn
sqlalchemy
wordcloud
fpdf2
python-docx
openpyxl
vaderSentiment
pytest

